#kontakt{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    h4{
        color: $logoLight;
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 7rem;
    }
    a{
        color: white;
        font-size: 2rem;
    }
    i{
        color: white;
        font-size: 2rem;
    }
}