#onama{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 7rem 0rem;
    .lead-content{
        padding: 2rem;
        border-radius: 2rem;
        margin: 0 auto;
        h1{
            background: $backgroundColor;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            text-align: center;
            font-size: 3.5rem;
            margin-bottom: 1.5rem;
        }
        p{
            color: $logoLight;
            font-weight: 600;
            margin: 0 auto;
            font-size: 2.3rem !important;
            text-align: center;
            background: $backgroundColor;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 3rem;
        }
    }
}

@media(min-width: 768px){
    .lead-content{
        width: 70%;
        padding: 4rem !important;
    }
}